$fontSize: 16px;
$lineHeightFactor: 1.33333333333333333333;
$lineHeight: $fontSize * $lineHeightFactor;
$margin: 8px;
$outerMargin: $margin * 2;

$h1FontSize: 18px;
$h1LineHeight: $h1FontSize * $lineHeightFactor;

$successColor: #7ED321;
$alertColor: #F5A623;
$espyBlueColor: #00acc2;

$loadAvgWidth: 70.3125%;
$loadAvgRatio: 1/2.4;
$loadAvgPaddingBottom: $loadAvgRatio * $loadAvgWidth;

$cpuHiveWidth: 100% - $loadAvgWidth;
$cpuHiveRatio: 1/1;
$cupHivePaddingBottom: $cpuHiveRatio * $cpuHiveWidth;

$headerBorderWidth: 2px;
$headerBorderColor: #999;
$headerLineOffset: 0px;
