$fontSize: 16px;
$lineHeightFactor: 1.33333333333333333333;
$lineHeight: $fontSize * $lineHeightFactor;
$margin: 8px;
$outerMargin: $margin * 2;

$h1FontSize: 18px;
$h1LineHeight: $h1FontSize * $lineHeightFactor;

$successColor: #7ED321;
$alertColor: #F5A623;
$espyBlueColor: #00acc2;

$headerBorderWidth: 2px;
$headerBorderColor: #999;
$headerLineOffset: 0px;

$lineWidth: 2px;
$tickWidth: 1px;
$areaFillOpacity: 0.65;
$tickFontSize: 12px;

$tickFontSizeMedium: 14px;

$tickFontSizeLarge: 10px;

$lineWidthNarrow: 4px;
$tickWidthNarrow: 2px;
$tickFontSizeNarrow: 22px;

$graphLayoutHeight: (304px + $margin) / 1024px * 100%;

$loadAvgWidth: 720px/1024px * 100%;
$loadAvgRatio: 1/2.4;
$loadAvgPaddingBottom: $loadAvgRatio * $loadAvgWidth;

$cpuHiveWidth: 100% - $loadAvgWidth;
$cpuHiveRatio: 1/1;
$cupHivePaddingBottom: $cpuHiveRatio * $cpuHiveWidth;

$loadAvgWidthWithMessages: 540px/1024px * 100%;
$messagesWidth: 180/1024 * 100%;

$messagesWidthMinusMargin: (180px - $margin * 2)/1024px * 100%;

$loadAvgWidthWithMessagesNarrow: 480px/1024px * 100%;
$messagesWidthNarrow: 240px/1024px * 100%;
$messagesWidthMinusMarginNarrow: (240px - $margin * 2)/1024px * 100%;

$oneMinColor: lighten(#082746, 15%);
$fiveMinColor: lighten($espyBlueColor, 5%);
//$fifteenMinColor: darken($alertColor, 15%);
$fifteenMinColor: darken(#96b4be, 35%);