<div id="loadAvg" class="GraphView">
    <header>
        <div class="headerInfo">
            <h2><span class="uptime">Average Load</span></h2>
        </div>
    </header>

    <div class="wrapper">
        <svg preserveAspectRatio="none" width="320px" height="322px" viewBox="0 0 320 322" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
            <title>Oval 1 + Rectangle 2</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="0" y="0" width="360" height="360"></rect>
            </defs>
            <g id="Page-8" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Oval-1-+-Rectangle-2" sketch:type="MSLayerGroup" transform="translate(0.000000, -38.000000)">
                    <mask id="mask-2" sketch:name="Rectangle 2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <use id="Rectangle-2" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
                    <circle id="Oval-1" fill-opacity="0.75" fill="#FAF4FF" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="0" cy="360" r="320">
                        <g transform="translate(0.000000, 360.000000) rotate(-90.000000) translate(-0.000000, -360.000000) "></g>
                    </circle>
                    <ellipse id="Oval-2" fill-opacity="0.75" fill="#F7EEFF" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="-0.5" cy="360.5" rx="311.5" ry="312.5">
                        <g transform="translate(-0.500000, 360.500000) rotate(-90.000000) translate(0.500000, -360.500000) "></g>
                    </ellipse>
                    <ellipse id="Oval-2" fill-opacity="0.75" fill="#F3E4FF" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="-1" cy="361" rx="301" ry="268">
                        <g transform="translate(-1.000000, 361.000000) rotate(-90.000000) translate(1.000000, -361.000000) "></g>
                    </ellipse>
                    <ellipse id="Oval-2" fill-opacity="0.75" fill="#ECD5FF" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="-1" cy="362" rx="308" ry="244">
                        <g transform="translate(-1.000000, 362.000000) rotate(-90.000000) translate(1.000000, -362.000000) "></g>
                    </ellipse>
                    <ellipse id="Oval-2" fill-opacity="0.75" fill="#E1BEFF" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="-1" cy="363.5" rx="321" ry="200.5">
                        <g transform="translate(-1.000000, 363.500000) rotate(-90.000000) translate(1.000000, -363.500000) "></g>
                    </ellipse>
                    <ellipse id="Oval-3" fill-opacity="0.75" fill="#D19BFF" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="-1" cy="364" rx="321" ry="124">
                        <g transform="translate(-1.000000, 364.000000) rotate(-90.000000) translate(1.000000, -364.000000) "></g>
                    </ellipse>
                    <ellipse id="Oval-4" fill-opacity="0.75" fill="#B765FF" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="-1.5" cy="364.5" rx="326.5" ry="121.5">
                        <g transform="translate(-1.500000, 364.500000) rotate(-90.000000) translate(1.500000, -364.500000) "></g>
                    </ellipse>
                    <ellipse id="Oval-4" fill-opacity="0.75" fill="#9013FE" sketch:type="MSShapeGroup" mask="url(#mask-2)" cx="-1.5" cy="365" rx="320.5" ry="127">
                        <g transform="translate(-1.500000, 365.000000) rotate(-90.000000) translate(1.500000, -365.000000) "></g>
                    </ellipse>
                </g>
            </g>
        </svg>
    </div>
</div>