<div id="container">
    <header class="mainHeader">
        <div class="headerInfo">
            <a class="refresh" href="#">(Refresh Now)</a>
            <h1><strong id='hostname' >Hostname</strong> <span class="note">Uptime</span></h1>
        </div>
    </header>

    <div class="GraphLayout">
        <div id="loadAvg" class="AverageLoadCompositeView">
            <header>
                <div class="headerInfo">
                    <h2><span class="note">Average Load</span></h2>
                </div>
            </header>

            <div class="wrapper"><!-- AverageLoadView draws here --></div>
        </div>

        <div class="CPUHiveCompositeView">
            <header>
                <div class="headerInfo">
                    <h2><span class="note">Load vs. CPU Usage</span></h2>
                </div>
            </header>

            <div class="wrapper"><!-- CPUHiveView draws here --></div>
        </div>
    </div>

    <br class="clearfix">
</div>
